:root {
  --highlight: #ff7f2a;
  --primary: #e0ea6c;
  --second: #73965d;
  --third: #315647;
  --dark: #071f33;
}


.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  text-align: center;
}
body {
  background-color: var(--primary);
  padding: 0;
  margin: 0;
}

.logo {
  height: 5rem;
  margin-right: 1rem;
}
header {
  display: flex;
  justify-content: center;
  background-color: var(--second);
  padding: 1rem;
  font-family: Impact;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  min-width: 20rem;
  min-height: 5rem;
  max-width: 50rem;
  font-family: sans-serif;
  background-color: white;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  text-overflow: ellipsis;
  overflow: scroll;
}
