:root {
  --highlight: #3B3355;
  --primary: #FEFCFD;
  --third: #bfcde0;
  --second: #5D5D81;
  --dark: #000505;
}


.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  text-align: center;
  color: var(--dark)
}
body {
  background-color: var(--primary);
  padding: 0;
  margin: 0;
}

.logo {
  height: 5rem;
  margin-right: 1rem;
}
header {
  display: flex;
  justify-content: center;
  background-color: var(--highlight);
  padding: 1rem;
  font-family: Impact;
  color: var(--primary);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.boxes {
  background-color: var(--second);
  height: 100%;
  padding: 1rem;
  min-height: 15rem;
}

.box {
  background-color: var(--third);
  resize: none;
  min-width: 20rem;
  min-height: 5rem;
  max-width: 50rem;
  max-height: 20rem;
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  overflow: scroll;
}
